body {
  background-color: black;
}

h1 {
  background-color: darkslategray;
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  color: darkred;
}

.intro {

}

.intro > img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 800px;
  float: left;
  margin: 30px;
}

p {
  color: aliceblue;
  font-size: 18px;
  margin-right: 500px;
}

.sidebar {
  width: 25%;
  float: right;
  background-color: darkslategray;
  height: 100%;
  padding-top: 10px;
}

.sidebar > h2 {
  text-align: center;
}

img {
  width: 600px;
  float: right;
}

.images {
  margin: 100px;
  clear: both;
}