body {
  background-color: black;
}

h1 {
  background-color: darkslategray;
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  color: darkred;
}

.intro > img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 800px;
  float: left;
  margin: 30px;
}

p {
  color: aliceblue;
  font-size: 18px;
  margin-right: 500px;
  padding-top: 30px;
}

.sidebar {
  width: 25%;
  float: right;
  background-color: darkslategray;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 30px;
}

.sidebar > h2 {
  text-align: center;
}

.images {
  margin: 30px;
  clear: both;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  float: right;
  width: 600px;
  
}